body {
    margin: 0;
    background-color: black;

}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1d1d1d;
    font-size: 25px;
}

li {
    float: left;
    border-right: 1px solid #ffffff;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(160, 160, 160);
}

img {
    float: left;
    margin: 20px;
    padding-left: 10px;
    
   
}

main {
    background-color: #333; 
    color:  rgb(255, 255, 255);
    overflow: hidden;
    margin: 0 25px;
    font-size: 30px;

}

.active {
    color: black;
}

hr.solid {
    border-top: 3px solid #ffffff;
  }

  .right-image {
    float: right;
  }
  
  hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }
  

  .first-project {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    color: white;
    overflow: hidden;
    font-size: 30px;
    background-color: #333;
    margin: 25px;
    padding: 30px;
  }

  .first-project img {
    border-radius: 5px 5px 0 0;
    width: 270px;
  }

  .second-project {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    color: white;
    overflow: hidden;
    font-size: 30px;
    background-color: #333;
    margin: 25px;
    padding: 30px;
  }

  .second-project img {
    border-radius: 5px 5px 0 0;
    width: 270px;
  }
  
  